/* <------ Import Google Font -------> */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* <----- Container -------> */
.container{
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* <----- Button -------> */
.btn{
    padding: 10px 25px;
    font-size: 1rem;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    margin-inline: auto;
    transition: all 0.25s ease-in;
}
.btn:hover{
    background-color: #095309;
}

/* <----- Card -------> */
.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 255px;
    background-color: #333;
    padding: 20px 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.card .imgSec{
    width: 70px;
    height: 70px;
    background-color: #555;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}
.card .imgSec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .name{
    font-size: 1.45rem;
    margin: 4px;
}
.card .gender{
    opacity: 0.6;
    font-weight: 400;
}
.card .email{
    opacity: 0.4;
    font-weight: 400;
    margin-bottom: 8px;
}
.card .paragraph{
    font-size: 0.8rem;
    opacity: 0.9;
}