        /* <---------- Google Fonts(Ubuntu) -----------> */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

        /* <---------- Google Fonts(Poppins) -----------> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

            /* <--------- Perquisites ------------> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --h5-color : #F24A1C;
    --background-colour: #fdfdfd;
    --text-color : #0b0e0b;
    --span-color : #3269e1;
    --a-color: #585454;
    --active-color:#111010;

    --h1-font:2.7rem;
    --h2-font:2rem;
    --h5-font:1.25rem;
    --a-font:1.1rem;
    --p-font:0.9rem;
    --logo-font:1.85rem;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    scroll-behavior: smooth;
}

                /* <----------- Section ------------> */
section{
    margin-top: 7%;
    padding: 50px 45px;
}

                /* <----------- h5 ------------> */
.h5-sec{
    font-size: var(--h5-font);
    color: var(--h5-color);
    margin-bottom: 15px;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
}

                /* <----------- h1 ------------> */
.heading{
    width: 70%;
    font-size: var(--h1-font);
    color: var(--text-color);
    margin-bottom: 12px;
    font-family: "Ubuntu", sans-serif;
}

                /* <----------- p ------------> */
.paragraph{
    width: 85%;
    font-size: var(--p-font);
    color: var(--p-color);
    margin-bottom: 25px;
    color: #555;
}

                /* <----------- Button ------------> */
.submit-btn {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}  
.submit-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}  
.submit-btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--text-color);
}  
.submit-btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--text-color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;  
}  
.submit-btn:hover:before {
    width: 100%;
    background: #b1dae7;
}  
.submit-btn:hover svg {
    transform: translateX(0);
}  
.submit-btn:active {
    transform: scale(0.95);
}
  

                /* <----------- Header Portion ------------> */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/* <--------- Logo ------------> */
.logo{
    font-size: var(--logo-font);
    color: var(--text-color);
    font-weight: 500;
}
.logo span{
    color: var(--span-color);
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 3px;
}

/* <--------- navBar ------------> */
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.navBar li{
    margin-inline: 25px;
}
.navBar li a{
    font-size: var(--a-font);
    color: var(--a-color);
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.navBar li a:hover,
.navBar li a:focus{
    color: var(--active-color);
    font-weight: 500;
}

/* <--------- menu-icon ------------> */
.menu-icon{
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    display: none;
}
.menu-icon span{
    width: 100%;
    height: 2.5px;
    background-color: var(--text-color);
}
.menu-icon span:nth-child(2){
    position: absolute;
    left: 8px;
}


                /* <----------- Home Portion ------------> */
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.home .left-part .curve{
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    z-index: -1;
}
.home .right-part img{
    width: 28rem;
}

            /* <----------- Made With Portion ------------> */
.container{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.content{
    width: 80%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content .h5-sec{
    font-weight: 600;
    font-size: 1.85rem;
}
.lower-part{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lower-part .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lower-part .box img{
    width: 5vw;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.lower-part .box img:hover{
    transform: scale(1.1);
}
.lower-part .box img:hover ~ .showName{
    transition: all 0.4s ease-in;
    opacity: 1;
}
.lower-part .box .showName{
    margin-top: 10px;
    font-size: var(--a-font);
    font-weight: 600;
    color: var(--a-color);
    opacity: 0;
    transition: all 0.4s ease-in;
    text-align: center;
}
    
            /* <----------- About Portion ------------> */
.about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    position: relative;
    padding-top: 120px;
}
.about .left-part{
    position: relative;
}
.about .left-part .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.about .left-part .h5-sec{
    position: relative;
}
.about .left-part .h5-sec::before{
    content: "";
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 2px;
    background-color: var(--h5-color);
    z-index: 1;
    border-radius: 25px;
}
.about .right-part img{
    width: 34vw;
}

            /* <----------- Projects Portion ------------> */
.Projects{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    padding-top: 120px;
}
.Projects .h5-sec{
    font-weight: 600;
    font-size: 1.85rem;
}
.Projects .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.Projects .container .card{
    padding: 10px 30px 20px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.4s ease-in;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}
.Projects .container .card::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: black;
    right: -4%;
    top: -4%;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    z-index: -1;
}
.Projects .container .card:hover{
    transform: scale(0.95);
}
.Projects .container .card:hover::before{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
}
.Projects .container .card .main-heading{
    margin: 14px 0 6px;
}
.Projects .container .card:hover .main-heading{
    color: #fdfdfd;
}
.Projects .container .card .paragraph{
    width: 100%;
    text-align: center;
} 
.Projects .container .card:hover .paragraph{
    color: #ccc;
}
.explore {
    color: var(--active-color);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--active-color);
    padding: 8px 20px;
    font-size: var(--p-font);
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 0.5s ease-in;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;
}  
.explore a{
    color: var(--active-color);
    transition: all 0.5s ease-in;
}
.explore:hover {
    background-color: #ffffff1c;
    color: #fdfdfd;
}  
.explore:hover a{
    color: var(--background-colour);
}
.explore::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--active-color);
    z-index: -1;
    transition: all 0.75s ease-in-out;
}  
.explore:hover::before {
    width: 180%;
}  
.Projects .container .card:hover .explore{
    border: 2px solid var(--background-colour);
}
.Projects .container .card:hover .explore a{
    color: var(--background-colour);
}


        /* <----------- Contribution Portion ------------> */
.contribution{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 120px;
}
.contribution .h5-sec{
    position: relative;
}
.contribution .h5-sec::before{
    content: "";
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 2px;
    background-color: var(--h5-color);
    z-index: 1;
    border-radius: 25px;
}
.contribution .right-part img{
    width: 30vw;
}


        /* <----------- Testimonial Portion ------------> */
.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.swiper .h5-sec{
    text-align: center;
    font-size: 1.55rem;
    position: relative;
}
.swiper .h5-sec::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
    width: 75px;
    height: 2px;
    background-color: var(--h5-color);
    z-index: 1;
    border-radius: 25px;
}
.swiper-wrapper{
    width: 100%;
    padding: 20px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.swiper-slide {
    padding: 20px 25px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}
.swiper-slide img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--span-color);
}
.swiper-slide .name{
    margin: 10px 0 15px;
    font-size: 1.45rem;
    font-family: "Ubuntu", sans-serif;
}
.swiper-slide .paragraph{
    margin-bottom: 20px;
    display: flex;
}
.swiper-slide .star{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-bottom: 15px;
}
.swiper-slide .star i{
    font-size: 1.3rem;
    color: #FFD700;
}


        /* <----------- Footer Portion --------------> */
.footer{
    width: 100%;
    background-color: var(--active-color);
    margin-top: 120px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footer .row .logo,
.footer .row .col h2{
    color: var(--background-colour);
}
.footer .row .col ul li{
    margin: 15px 0;
    transition: all 0.3s ease-in;
}
.footer .row .col ul li:hover{
    transform: translateX(10px);
}
.footer .row .col ul li a{
    color: var(--background-colour);
    cursor: pointer;
}
.footer-bottom{
    color: var(--background-colour);
    text-align: center;
    letter-spacing: 2px;
    font-family: "Ubuntu", sans-serif;
}