            /* <------------ Heading ---------------> */

.webHeading{
    width: 100%;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* <---- Top Part -----> */
.webHeading .top-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.webHeading .top-part .backButton{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease-in;
}
.webHeading .top-part .backButton i{
    font-size: 25px;
    cursor: pointer;
}
.webHeading .top-part .backButton:hover{
    background-color: var(--h5-color);
}
.webHeading .top-part .backButton:hover i{
    color: #fdfefe;
}

/* <---- Bottom Part -----> */
.bottom-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.bottom-part .heading{
    margin-bottom: 25px;
    font-size: 2.4rem;
}
.bottom-part .paragraph{
    width: 80%;
    font-size: 1rem;
}
.bottom-part .paragraph strong{
    color: var(--h5-color);
}

            /* <----------- Level Indicator -----------> */
.h5-sec{
    text-align: center;
    font-weight: 800;
    position: relative;
}
.h5-sec::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 2.5px;
    background-color: var(--h5-color);
}
                    /* <-------- Level ---------> */
.container{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 8%;
}
.container .box{
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1110100f;
    padding: 0 20px;
    cursor: pointer;
    border-right: none;
}
.container .box .img-sec{
    width: 125px;
    height: 125px;
}
.container .box .img-sec.sec{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.container .box .img-sec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    border: none;
}
.box .name{
    font-family: "Ubuntu", sans-serif;
    margin: 25px 0;
}
.box .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .bottom a{
    color: var(--background-colour);
}
.box .bottom a:nth-child(1){
    font-size: 1.5rem;
    color: var(--h5-color);
    transition: all 0.4s ease-in;
}
.box .bottom a:nth-child(1):hover{
    color: var(--text-color);
}
.box .bottom a:nth-child(2){
    padding: 7px 20px;
    background-color: var(--h5-color);
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 3px 5px rgba(255,255,255,0.15);
    border: 2px solid var(--h5-color);
    transition: all 0.4s ease-in;
}
.box .bottom a:nth-child(2):hover{
    color: var(--text-color);
    background-color: transparent;
    box-shadow: none;
}
.swiper-pagination{
    margin-top: 3rem;
    position: relative;
}


/* <------- Make It Responsive -----------> */
@media (max-width:1000px){
    .webHeading{
        padding: 20px;
        gap: 2rem;
    }
    .bottom-part .heading{
        font-size: 1.75rem;
    }
    .bottom-part .paragraph{
        width: 100%;
        font-size: 1rem;
    }
}

/* <-------- Tab Design ---------> */
@media (max-width:768px){
    .webHeading{
        padding: 20px;
        gap: 2rem;
    }
    .bottom-part .paragraph{
        font-size: 0.9rem;
    }
}

/* <-------- Mobile Design -----------> */
@media (max-width:500px){
    .bottom-part .paragraph{
        font-size: 0.8rem;
        text-align: left;
    }
}