            /* <------------ Heading ---------------> */

.webHeading{
    width: 100%;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* <---- Top Part -----> */
.webHeading .top-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.webHeading .top-part .backButton{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.4s ease-in;
}
.webHeading .top-part .backButton i{
    font-size: 25px;
    cursor: pointer;
}
.webHeading .top-part .backButton:hover{
    background-color: var(--h5-color);
}
.webHeading .top-part .backButton:hover i{
    color: #fdfefe;
}

/* <---- Bottom Part -----> */
.bottom-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.bottom-part .heading{
    margin-bottom: 25px;
    font-size: 2.4rem;
}
.bottom-part .paragraph{
    width: 80%;
    font-size: 1rem;
}
.bottom-part .paragraph strong{
    color: var(--h5-color);
}

                    /* <-------- Level ---------> */
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.container .box{
    width: 300px;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1110100f;
    padding: 0 40px;
    cursor: pointer;
}
.container .box .img-sec{
    width: 175px;
    height: 175px;
}
.container .box .img-sec img{
    width: 100%;
    height: 100%;
}
.box .name{
    font-family: "Ubuntu", sans-serif;
    margin: 20px 0;
}
.box .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box .bottom a{
    color: var(--background-colour);
}
.box .bottom a:nth-child(1){
    font-size: 1.5rem;
    color: var(--h5-color);
    transition: all 0.4s ease-in;
}
.box .bottom a:nth-child(1):hover{
    color: var(--text-color);
}
.box .bottom a:nth-child(2){
    padding: 7px 20px;
    background-color: var(--h5-color);
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 3px 5px rgba(255,255,255,0.15);
    border: 2px solid var(--h5-color);
    transition: all 0.4s ease-in;
}
.box .bottom a:nth-child(2):hover{
    color: var(--text-color);
    background-color: transparent;
    box-shadow: none;
}